a {
	color: black;
	text-decoration: none;
}

.wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(12, [col] auto);
	grid-template-rows: repeat(2, [row] auto);
	background-color: #fff;
	color: #444;
}

.header {
	grid-column: col 1 / span 12;
	grid-row: row 1;
	display: grid;
	grid-template-columns: repeat(10, [col] 10%);
	grid-template-rows: repeat(3, [row] auto);
}

.header-title {
	grid-column: col 1 / col 9;
	grid-row: 1;
	padding-top: 2rem;
	padding-left: 1rem;
	font-size: 3rem;
	font-family: 'Philosopher', sans-serif;
	height: 3rem;
	
}

.userInfo {
	grid-column: col 10;
	grid-row: 1;
	margin: auto;
	padding: 0.5rem;
	border: 1px solid green;
	border-radius: 0.3rem;
}

.userInfo-user {
	display: inline;
}

.userInfo-dropdown {
	display: inline;
}

hr {
    grid-column: col 1 / col 11;
	grid-row: 2;
	height: 1px;
	border: 0;
    border-top: 1px solid #ccc;
	margin: 0 0;
	margin-left: 2rem;
	margin-right: 4rem;
	padding-left: 0;
	z-index: 1;
}

.header-menu {
	grid-column: col 6 / col 11;
	grid-row: 3;
	height: 2rem;
	margin-right: 1rem;
}

.header-menuItem {
	font-size: 2rem;
	font-family: 'Work Sans', sans-serif;
	padding-right: 1rem;
}

.main {
	grid-column: col / span 4;
	grid-row: row 2;
}

.main-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 4rem;
}

.aside {
	grid-column: col 5;
	grid-row: row 2;
}