a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: grey;
}

input {
    display: none;
}

.hidden {
    display: none;
}

.separator {
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 0 0;
    padding-left: 0;
}

.wrapper {
    background-color: #fff;
    color: #444;
}

.header-title {
    padding-top: 2rem;
    padding-left: 3rem;
    font-size: 3rem;
    font-family: "Philosopher", sans-serif;
    height: 3rem;
}

.userInfo {
    margin: auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    position: relative;
}

.userInfo-user {
    display: inline;
}

.userInfo-dropdown {
    padding: 0 0.3rem 0 0.5rem;
    display: inline;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 0.2rem 1rem 1rem 1rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0;
    margin-left: 2rem;
    margin-right: 4rem;
    padding-left: 0;
    z-index: 1;
}

.header-menu {
    height: 2rem;
    margin-right: 1rem;
}

.header-menuItem {
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    padding-right: 1rem;
}
