a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: grey;
}

input {
	display: none;
}

.hidden {
	display: none;
}

.separator {
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	margin: 0 0;
	padding-left: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(10, [col] 10%);
	grid-template-rows: repeat(2, [row] auto);
	background-color: #fff;
	color: #444;
}

.header {
	grid-column: col 1 / span 10;
	grid-row: row 1;
	display: grid;
	grid-template-columns: repeat(10, [col] 10%);
	grid-template-rows: repeat(3, [row] auto);
}

.header-title {
	grid-column: col 1 / col 9;
	grid-row: 1;
	padding-top: 2rem;
	padding-left: 3rem;
	font-size: 3rem;
	font-family: 'Philosopher', sans-serif;
	height: 3rem;
}

.userInfo {
	grid-column: col 10;
	grid-row: 1;
	margin: auto;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 0.3rem;
	position: relative;
}

.userInfo-user {
	display: inline;
}

.userInfo-dropdown {
	padding: 0 0.3rem 0 0.5rem;
	display: inline;
}

.dropdown-content {
	position: absolute;
background-color: white;
width: 100%;
padding: 0.2rem 1rem 1rem 1rem;
}

hr {
	grid-column: col 1 / col 11;
	grid-row: 2;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0;
	margin-left: 2rem;
	margin-right: 4rem;
	padding-left: 0;
	z-index: 1;
}

.header-menu {
	grid-column: col 6 / col 11;
	grid-row: 3;
	height: 2rem;
	margin-right: 1rem;
}

.header-menuItem {
	font-size: 2rem;
	font-family: 'Work Sans', sans-serif;
	padding-right: 1rem;
}

.main {
	grid-column: col 1 / span 7;
	grid-row: row 2;
	height: 30rem;
}

.tab {
	grid-column: col 1 / span 7;
	grid-row: row 2;
	height: 30rem;
}

.main-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5rem;
	padding-left: 4rem;
}

.quickAccess-list {
	list-style-type: none;
	margin: 0;
	padding: 1rem 0 0 5rem;
}

.quickAccess-item {
	margin-bottom: 2rem;
}

.quickAccess-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5rem;
	padding-left: 1rem;
}

.aside {
	grid-column: col 9 / span 2;
	grid-row: row 2;
	height: 30rem;
	display: grid;
	grid-template-columns: [col] auto;
	grid-template-rows: 10% 45% 45%;
}


/*

.contatos {
	grid-column: 1;
	grid-row: 2;
}

.contatos-header {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 50% 50%;
}

.contatos-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 2.25rem;
	margin: 0;
	padding-left: 0.5rem;
	grid-column: 1;
	grid-row: 1;
}

.contatos-searchField {
	grid-column: 2;
	grid-row: 1;
	padding-right: 0.5rem;
	align-self: center;
	justify-self: end;
}

.contatos-list {
	grid-column: 1/ span 2;
	grid-row: 2;
}

*/

.calendario {
	grid-column: 1;
	grid-row: 2 / span 2;
	position: relative;
}

.calendario-header {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 50% 50%;
}

.calendario-title {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding-left: 0.5rem;
	grid-column: 1;
	grid-row: 1;
	font-size: 1.6rem;
}

.calendario-filter {
	grid-column: 2;
	grid-row: 1;
	padding-right: 0.5rem;
	align-self: center;
	justify-self: end;
}

.calendario-body {
	font-family: 'Gruppo', sans-serif;
	font-size: 1.3rem;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

.calendario-data {
	height: 3.5rem;
	width: 20%;
	text-align: center;
	padding-right: 0.5rem;
	border-style: solid;
	border-width: 0.5px 0.5px 0 0;
}

.calendario-tarefa {
	padding-left: 0.5rem;
	width: 80%;
	border-style: solid;
	border-width: 0.5px 0 0 0;
}

.calendario-depto {
	font-size: 2rem;
	border-style: solid;
	border-width: 0.5px 0 0 0.5px;
	width: 10%;
	padding: 0 0.5rem 0 0.5rem;
	margin: auto;
}

.calendario-footer {
	background-color: grey;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}