a {
	color: black;
	text-decoration: none;
}

input {
	display: none;
}

.wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(12, [col] auto);
	grid-template-rows: repeat(2, [row] auto);
	background-color: #fff;
	color: #444;
}

.header {
	grid-column: col 1 / span 12;
	grid-row: row 1;
	display: grid;
	grid-template-columns: repeat(10, [col] 10%);
	grid-template-rows: repeat(3, [row] auto);
	border: 1px solid black;
}

.header-title {
	grid-column: col 1 / col 9;
	grid-row: 1;
	padding-top: 2rem;
	padding-left: 3rem;
	font-size: 3rem;
	font-family: 'Philosopher', sans-serif;
	height: 3rem;
}

.userInfo {
	grid-column: col 10;
	grid-row: 1;
	margin: auto;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 0.3rem;
}

.userInfo-user {
	display: inline;
}

.userInfo-dropdown {
	padding: 0 0.3rem 0 0.5rem;
	display: inline;
}

hr {
	grid-column: col 1 / col 11;
	grid-row: 2;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0;
	margin-left: 2rem;
	margin-right: 4rem;
	padding-left: 0;
	z-index: 1;
}

.header-menu {
	grid-column: col 6 / col 11;
	grid-row: 3;
	height: 2rem;
	margin-right: 1rem;
}

.header-menuItem {
	font-size: 2rem;
	font-family: 'Work Sans', sans-serif;
	padding-right: 1rem;
}

.main {
	grid-column: col 1 / span 10;
	grid-row: row 2;
	border: 1px solid black;
	height: 30rem;
}

.main-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 3.5rem;
	padding-left: 3rem;
}

.quickAccess-list {
	list-style-type: none;
	margin: 0;
	padding: 1rem 0 0 5rem;
}

.quickAccess-item {
	margin-bottom: 2rem;
}

.quickAccess-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5rem;
	padding-left: 1rem;
}

.aside {
	grid-column: col 11 / span 2;
	grid-row: row 2;
	height: 30rem;
	display: grid;
	grid-template-columns: [col] auto;
	grid-template-rows: 10% 45% 45%;
}

.contatos {
	grid-column: 1;
	grid-row: 2;
	border: 1px solid black;
}

.contatos-header {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 50% 50%;
}

.contatos-title {
	font-family: 'Work Sans', sans-serif;
	font-size: 2.25rem;
	margin: 0;
	padding-left: 0.5rem;
	grid-column: 1;
	grid-row: 1;
}

.contatos-searchField {
	grid-column: 2;
	grid-row: 1;
	padding-right: 0.5rem;
	align-self: center;
	justify-self: end;
}

.contatos-list {
	grid-column: 1/ span 2;
	grid-row: 2;
}

.calendario {
	grid-row: 3;
	border: 1px solid black;
}

.contatos-list {
	list-style: none;
	padding: 0;
}

.contatos-list li {
	padding-left: 1.3em;
}

.contatos-list li:before {
	content: "\f2ba";
	/* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	/* same as padding-left set on li */
	width: 1.3em;
	/* same as padding-left set on li */
}